{% extends 'taskapp/base.html' %}
{% block content %}
    <div class="container ">
        <h2 class="text-center">Приветствую тебя на сайте TaskManager!</h2>
        <P class="lead">Этот сайт создан для управления поставленными перед собой задачами. Как это работает?
            Все очень просто. Вы регистрируетесь на сайте, и получаете возможность добавлять задачи.
            Сервис отслеживает срок до которого задачу нужно выполнить и меняет цвет задач в списке на следующие:
        </P>
        <div class="list-group">
            <a class="list-group-item list-group-item-action list-group-item list-group-item-danger">
                <h4 class="text-left m-0">Задача горит.</h4>
                <p class="font-weight-light m-0 text-left">До выполнения меньше 5 дней</p>
            </a>
            <a class="list-group-item list-group-item-action list-group-item list-group-item-warning"><h4
                    class="text-left m-0">Задача не терпит откладывания.</h4>
                <p class="font-weight-light m-0 text-left">До выполнения меньше 10 дней</p>
            </a>
            <a class="list-group-item list-group-item-action list-group-item list-group-item-light"><h4
                    class="text-left m-0">Задача ждет исполнения.</h4>
                <p class="font-weight-light m-0 text-left">До выполнения больше 10 дней</p>
            </a>
            <a class="list-group-item list-group-item-action list-group-item list-group-item-success"><h4
                    class="text-left m-0">Задача выполнена.</h4>
                <p class="font-weight-light m-0 text-left">Ты молодец выполнил поставленую цель.</p>
            </a>

        </div>
        <p class="lead "> Все задачи которые вы выполите, будут находиться в отдельном разделе.
            Если вы поставите себе задачу, но случится "ФИАСКО БРАТАН", эта задача перейдет в соответствующий раздел.
            Проект создан для обучения, поэтому пишите мне в телегу, если у вас есть идея для улудшения этого проекта.
            Искрене ваш VSHIYAN.
        </p>
        <a class="lead" href="https://github.com/vshiyan" >Мой профиль на github.</a>
    </div>
{% endblock %}