{% extends 'taskapp/base.html' %}
{% block content %}
    <br>
    <div class="container ">
        <ul class="list-group ">
            <li class="list-group-item list-group-item-dark"><h2 class="text-center ">{{ task.title }}</h2></li>
            <li class="list-group-item"><h5> Выполнить задачу до: {{ task.date_finish }}</h5></li>
            <li class="list-group-item">
                <div class="">
                    <p>Описание задачи:</p>
                    <textarea class="form-control" rows="11" disabled >{{ task.descrition }}</textarea>
                </div>
            </li>
            <li class="list-group-item"><p>Дата регистрации задачи: {{ task.date_start }}</p></li>

        </ul>
    </div>
{% endblock %}